h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

img {
    display: block;
}
.container{
    /*width: 1440px;*/
    
/*display: flex;*/
    /*max-width: 1156 px;*/
        margin: 0 auto;
        /*padding-left: 15px;
        padding-right: 15px;*/
        width: 1158px;
        padding: 0 15px
}
body {
   
   /* font-family: 'Raleway','Roboto',sans-serif;*/
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

ul{
    list-style: none;
    color: #2e2f42;
} 

.header{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }
}
.container-flex{
    display: flex;
}
.header-navigation {
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.header-logo {
   
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-style: normal;
        padding-right: 76px;
        margin-right: 76px;
}

.header-logo-web {
    font-weight: 700;
        font-size: 18px;
        /* line-height: 21px; */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        font-style: normal;
}

.header-menu-list {
    color:#2e2f42;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-left: 76px;
    
    
}

.header-menu-item {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-style: normal;
        
}

.header-menu-link:hover{
    color: #404bbf;
     padding: 24px 0;
}
.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-link {
    display: flex;
    font-style: normal;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    /*?transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;*/
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
    display: flex;
    font-style: normal;
    color:#2e2f42;
    
}

.header-contact-list {
    font-style: normal;
    
    color: #2e2f42;
    display: flex;
    gap: 40px;
}

.header-contact-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: flex;
        margin-right: 40px;
        
       
}
.header-menu-link.current {
    color: #404bbf;
    position: relative;
}

.header-menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition-property: width;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
      
}

.header-menu-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.header-contact-item:last-child {
    margin-right: 0;
}
.header-contact-link {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style:normal;

        /*?transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;?*/

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover {
    color:#404bbf;
}
.header-contact-link:focus {
    
}

.hero {
    max-width: 1440px;
    margin: 0 auto;
   /* margin-top: 24px;*/
    padding: 188px 0;
    background-color: #2e2f42;
        color: #404bbf;
        background-color: #2a2a2a;
       
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/po1.jpg);
        color: #fff;
        background-repeat: no-repeat;
        background-position: center;
}
.hero-wrap{
    background-color: #2e2f42;
    color: #404bbf;

display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 188px 0 292px 0;
    
    width: 100%;
    height: 600px;


}
.hero-title {
    font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        max-width: 496px;
        margin: 0 auto;         
         
}

.hero-order-btn {
    
    display: block;
        margin: 48px auto 0;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}
.hero-order-btn:hover
{ 
    background-color: #404BBF;

}
.hero-order-btn:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.direction {
    width: 1128px;
    /*padding-left:156px ;
    padding-right: 156px;*/
    padding: 120px 0;
       /* height: 104px;*/
}

.direction-title {}

.direction-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /*flex-direction: column;*/
    gap: 24px;
    padding-bottom: 120px;
}

.direction-item {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
        flex-basis: calc((100% - 72px) / 4);
}

.direction-kind {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
}
.direction-icon {
    background-color: #FFFFFF;
    margin-bottom: 24px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 64px;
    height: 64px;
}

.direction-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
   
}

.team-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-top: 120px;
        margin-bottom: 72px;

}

.team-list {
    
    background-color: #FFFFFF;
    
            display: flex;
            gap: 24px;
            /* або скільки тобі потрібно між картками */
            justify-content: center;
            /* або space-between / space-around */
            flex-wrap: wrap;
            /* дозволяє переносити елементи на новий ряд */
            padding: 0;
            list-style: none;
    
   
}

.team-item {
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
    position: relative;
        overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 0.8);
    /* синій напівпрозорий фон */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    z-index: 1;
}

.team-item:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 16px;
}

.team-item:first-child {
    width: calc((100% - 72px) / 4);
}

.team-card {
    padding: 32px 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    }

.team-image 
{
background-color: #FFFFFF;

}


.team-person {
    
font-weight: 500;
font-size: 20px;
line-height: 1.2;
 letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.team-icon {
    
    fill: #FFFFFF;
    width: 40px;
    height: 40px;
       
       
        cursor: pointer;
        border: none;
    
    background-color: #4d5ae5;
        /* синий фон кружка */
        border-radius: 50%;
        border: none;
        /* делает форму круглой */
        display: flex;
        align-items: center;
        justify-content: center;
    
    
}
.team-icon:hover{
    background-color: aquamarine;
}

.team-icon use {
    fill: #434455;
}

.team-person-text {

    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-item {
    display: flex;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.social-icon:hover {
    /*!background-color: #404bbf;*/

    background-color: aquamarine;

}

.social-svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}
/*?=============PORTFOLIO =========*/

.portfolio {
padding: 120px 0;

}

.portfolio-title {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-top: 120px;
    margin-bottom: 72px;

}

.portfolio-list {
    background-color: #FFFFFF;
    
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;   
    padding: 0;
    list-style: none;
}

.portfolio-app {
    background-color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
   /* flex-basis: calc((100% - 48px) / 3);*/
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-app:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.portfolio-app::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 0.9);
    /* синій overlay */
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    
}

.portfolio-app:hover::before {
    transform: translateY(0);
}

.portfolio-app:first-child {
    width: calc((100% - 48px) / 3);
}
.portfolio-app-first {
    width: calc((100% - 48px) / 3);
}
.portfolio-image {
    background-color: #FFFFFF;
   
}

.portfolio-app-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}

.portfolio-app-name {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        background-color: #FFFFFF;
        margin-bottom: 8px;
}

.portfolio-app-text {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;

}

.footer {
    margin-top: 120px;
    
        background: #2e2f42;
        
        width: 100%;
            height: 312px;
            padding: 100px 0;
            display: block;
            max-width: 1440px;
}
.footer-container {
    /*width: 264px;
    height: 112px;*/
    margin-left: 156px;
   
    /*!padding-top: 100px;*/
   
justify-content: space-between;
    display: flex;
    flex-direction: row;
    
    gap: 120px;
    align-items: flex-start;
    }
        
}

.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-studio
{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.footer-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
.footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-social-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;}
 .footer-info {
    max-width: 264px;
    display: flex;
    flex-direction: column;
    gap: 16px;
        }